<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    <script src="{{ url_for('static', filename='script/form.js') }}"></script> 
    <title>Resume Form</title> 

</head>

<body>
    <h2 style="font-size: xx-large;">User Details</h2>
    <form action="{{ url_for('views.gen_res') }}" method="POST">

        <!-- NLP context-->
        <fieldset id="nlp_context">
            <legend>Resume Objective (for NLP context) *</legend>
            <textarea id="context_description" name="context_description" rows="4" cols="40" required></textarea><br>
        </fieldset>

        <!-- Personal Details -->
        <fieldset>
            <legend>Personal Details</legend>
            <label for="full_name">Full Name: *</label>
            <input type="text" id="full_name" name="full_name" required><br>
            
            <label for="email">Email: *</label>
            <input type="email" id="email" name="email" required><br>
            
            <label for="mobile_number">Mobile Number: *</label>
            <input type="tel" id="mobile_number" name="mobile_number" required><br>
            
            <label for="gender">Gender: *</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select><br>
            
            <label for="website">Website:</label>
            <input type="text" id="website" name="website"><br>
        </fieldset>

        <!-- Educational Details -->
        <fieldset id="educationFieldset">
            <legend>Educational Details</legend>

            <fieldset>
            <label for="degree">Qualification 1: *</label>
            <input type="text" id="degree1" name="degree1" required><br>
            
            <label for="institution_name">Institution Name: *</label>
            <input type="text" id="institution_name1" name="institution_name1" required><br>
            
            <label for="from_till">From - Till: *</label>
            <input type="text" id="from_till1" name="from_till1" required><br>
            
            <label for="gpa">GPA: *</label>
            <input type="text" id="gpa1" name="gpa1" required><br>
            
            <label for="coursework">Coursework: *</label>
            <input type="text" id="coursework1" name="coursework1" required><br>
            </fieldset>
        </fieldset>
        <button class="add-button" type="button" onclick="addEducation()">Add Education</button>

        <!-- Skills -->
        <fieldset>
            <legend>Skills (Comma {, } separated)</legend>
            <!-- Technical Skills -->
            <label for="technical_skills">Technical Skills: *</label>
            <input type="text" id="technical_skills" name="technical_skills" required><br>
            
            <label for="technical_proficiency">Proficiency (On an ascending scale of 10): *</label>
            <input style="margin-bottom: 5%;" type="text" id="technical_proficiency" name="technical_proficiency" required><br>
            
            <!-- Soft Skills -->
            <label for="soft_skills">Soft Skills: *</label>
            <input type="text" id="soft_skills" name="soft_skills" required><br>
            
            <label for="soft_proficiency">Proficiency (On an ascending scale of 10): *</label>
            <input type="text" id="soft_proficiency" name="soft_proficiency" required><br>   
        </fieldset>

        <!-- Work Experience -->
        <fieldset id="wexFieldset">
            <legend>Work Experience</legend>
            <fieldset>
            <label for="role_name1">Role Title 1:</label>
            <input type="text" id="role_name1" name="role_name1"><br>
            
            <label for="company_name_location1">Company Name, Location:</label>
            <input type="text" id="company_name_location1" name="company_name_location1"><br>
            
            <label for="work_from_till1">Work From - Till:</label>
            <input type="text" id="work_from_till1" name="work_from_till1"><br>
            
            <label for="achievements1">Achievements:</label>
            <textarea id="achievements1" name="achievements1" rows="4" cols="50" ></textarea><br>
            </fieldset>
        </fieldset>
        <button class="add-button" type="button" onclick="addWorkExperience()">Add Work Experience</button>

        <!-- Projects -->
        <fieldset id="projectFieldset">
            <legend>Projects</legend>
            <fieldset>
            <label for="project_title1">Project Title 1:</label>
            <input type="text" id="project_title1" name="project_title1"><br>
            
            <label for="tech_stack">Tech Stack:</label>
            <input type="text" id="tech_stack1" name="tech_stack1"><br>
            
            <label for="project_description">Project Description:</label>
            <textarea id="project_description1" name="project_description1" rows="4" cols="50"></textarea><br>
            </fieldset>
        </fieldset>
        <button class="add-button" type="button" onclick="addProject()">Add Project</button>

        <!-- Leadership Experience -->
        <fieldset id="lexFieldset">
            <legend>Leadership Experience</legend>
            
            <fieldset>
            <label for="leadership_description1">Description 1:</label>
            <textarea id="leadership_description1" name="leadership_description1" rows="4" cols="50"></textarea><br>
            </fieldset>
        </fieldset>
        <button class="add-button" type="button" onclick="addLeadershipExperience()">Add Leadership Experience</button>
        
        <br><input type="submit" value="Submit">
    </form>
</body>

</html>


